---
layout: default
title: jonikanerva
---
{% include header.html %}
  <div class="infobox">
    <div class="title">Joni Kanerva</div>
    <div class="subtitle">Señor Partner at Devlab</div>
    <div class="picture">
      <img src="images/photo.jpg" alt="photo" />
    </div>
    <div class="content">Hacker. Geek. Apple fanboy. Movie buff. Upāsaka. Vegan. Treehugger. Backpacker. Whisky devotee. Tauren Paladin.</div>
    <div class="location">Helsinki, Finland</div>
    <div class="contact">
      <a class="ss-icon" title="Twitter" href="https://twitter.com/jonikanerva">twitter</a>
      <a class="ss-icon" title="Github" href="https://github.com/jonikanerva">octocat</a>
      <a class="ss-icon" title="Instagram" href="http://instagram.com/jonikanerva">instagram</a>
      <a class="ss-icon" title="Foursquare" href="https://foursquare.com/jonikanerva">foursquare</a>
      <a class="ss-icon" title="Facebook" href="https://www.facebook.com/joni.kanerva">facebook</a>
      <a class="ss-icon" title="Linkedin" href="http://www.linkedin.com/in/jonikanerva">linkedin</a>
      <a class="ss-icon" title="Email" href="mailto:me@jonikanerva.fi">mail</a>
    </div>
  </div>
{% include footer.html %}
