---
title: jonikanerva
---
{% include header.html %}
  <div class="infobox">
    <div class="title">Joni Kanerva</div>
    <div class="subtitle"></div>
    <div class="container">
      <div class="picture">
        <img src="images/photo.jpg" alt="photo" />
      </div>
      <div class="content">
        Hacker. Geek. Apple fanboy. Movie buff. Upāsaka. Vegan. Treehugger. Backpacker. Whisky devotee. Awoken Titan.
        <div class="contact">
          <a title="Twitter" href="https://twitter.com/jonikanerva">Twitter</a>
          &bullet; <a title="GitHub" href="https://github.com/jonikanerva">GitHub</a>
          &bullet; <a title="Mail" href="mailto:email@jonikanerva.fi">Mail</a>
        </div>
      </div>
    </div>
  </div>
{% include footer.html %}
